*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(255, 255, 255, 0.726);
    font-family: Arial, Helvetica, sans-serif;
}
.wrapper{
    background-color: rgb(212, 209, 209);
    width: 500px;
    padding: 25px;
    margin: 25px auto 0;
    box-shadow: 0px 0px 20px rgb(2, 2, 2);
}
.wrapper h2{
    background-color: white;
    color: rgb(143, 197, 43);
    font-size: 24px;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    border: 1px dotted black;
}
h4{
    padding-bottom: 5px;
    color: rgb(143, 197, 43);
}
.input-group{
    margin-bottom: 8px;
    width:100%;
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 5PX 0;
}
.input-box{
    width:100%;
    margin-right: 12px;
    position: relative;
}
.input-box:last-child{
    margin-right: 0;
}
.name{
    padding: 14px 10px 14px 50px;
    width: 100%;
    background-color: white;
    border:1px solid black;
    outline: none;
    letter-spacing: 1px;
    transition:0.3s;
    border-radius: 3px;
    color: black; 
}
.name:focus, .dob.focus{
        -webkit-box-shadow: 0 0 2px 1px rgb(143, 197, 43);
        -moz-box-shadow: 0 0 2px 1px rgb(143, 197, 43);
        box-shadow: 0 0 2px 1px rgb(143, 197, 43);
        border: 1px solid rgb(143, 197, 43);    
}
.input-box .icon{
    width:48px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    color: black;
    background-color: white;
    border-radius: 2px 0 0 2px;
    transition:0.3s;
    font-size: 20px;
    pointer-events: none;
    border: 1px solid black;
    border-right:none;
}
.name:focus + .icon{
    background-color: rgb(143, 197, 43);
    color: white;
    border-right: 1px solid rgb(143, 197, 43);
    border: none;
    transition: 1s;
}
.dob{
    width: 30%;
    padding: 14px;
    text-align: center;
    background-color: white;
    transition: 0.3s;
    outline: none;
    border: 1px solid white;
    border-radius: 3px;
}

.radio{
    display: none;    
}
.input-box label{
    width: 50%;
    padding: 13px;
    background-color: white;
    display: inline-block;
    float: left;
    text-align: center;
    border:1px solid white;
}
.input-box label: :first-of-type{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-right: none;
}
.input-box label: :last-of-type{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.radio:checked + label{
    background-color: rgb(143, 197, 43);
    color: white;
    transition:0.5s;
}
.input-box select{
        display:inline-block;
        width:50px;
        padding:12px;
        background-color:white;
        float:left;
        text-align:center;
        font-size:16px;
        outline:none;
        border: 1px solid white;
        cursor: pointer;
        transition: all 0.2s ease;
}
.input-box select:focus{
        background-color:  rgb(143, 197, 43);
        color: white;
        text-align: center;
}
button{
    width:100%;
    Background: transparent;
    border: none;
    background;  rgb(143, 197, 43);
    color: white;
    padding: 15px;
    border-radius:4px;
    font-size:16px;
    transition: all 0.35s ease;
}
button:hover{
    cursor:pointer;
    background:  rgb(143, 197, 43);
}